footer {
    grid-area: footer;
    border-top: 2px solid white;
}
.footer-logo {
    display: none;
}
.footer-iconos {
    display: flex;
    justify-content: space-evenly;
}
.link-rrss {
    color:white;
}
.footer-copy {
    text-align: center;
    color: white;
}