header{
    background-color: black;
    grid-area: header;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    .navegacion{
      width: 90%;
      .container-fluid{
        .navbar-brand{
          .logo-nav{
            width: 60px;
          }
        }
      }
    }
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid white;
    img {
        width: 90px;
    }
    ul li a {
        color: white;
        text-decoration: none;
      }
}
.menu-item {
    width: 100%;
    display: flex;
    list-style: none;
    font-size: 0.9rem;
    font-family: $fuente-principal;
    padding: 0;
    margin: 0;
  }
  .menu-item{
    width: 100%;
    padding-right: 5px;
  }
  .menu-link {
    text-decoration: none;
}